.loginHeader_banner {
    width: 100%;
    height: 8%;
    top: 0px;
    left: 0%;
    position: absolute;
}


.website_logo {
    position: absolute;
    top: 24%;
    width: 3%;
    height: 50%;
    opacity: 80%;
}


.logo_text {
    color: tomato;
    position: absolute;
    top: -5%;
    font-family: Neue Haas Grotesks;
    left: 3.5%;
}


.login_button {
    font-family: Neue Haas Grotesk;
    border-radius: 40px;
    background-color: tomato;
    color: black;
    font-size: 20px;
    width: 5%;
    height: 49%;
    right: 8%;
    position: absolute;
    padding: 0;
    border: none;
    top: 26%;

}


.login_button:hover {
    font-size: 22px;
}


.signup_button {
    font-family: Neue Haas Grotesk;
    border-radius: 40px;
    background-color: rgb(147, 129, 129);
    color: black;
    font-size: 20px;
    width: 5%;
    height: 49%;
    right: 2%;
    position: absolute;
    padding: 0;
    border: none;
    top: 26%;
    opacity: 80%;
}


.signup_button:hover {
    font-size: 22px;
}


.SignInUserBackground {
    font-family: Neue Haas Grotesk;
    top: 30%;
    right: 30%;
    position: absolute;
    width: 40%;
    height: 35%;
    background-color: rgb(244, 241, 241);
    text-align: center;
    border-radius: 30px;
}

.input_for_sign_in {
    position: relative;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.confirm_buttom {
    border-radius: 30px;
    position: absolute;
    top: 80%;
    left: 43%;
    width: 100px;
    height: 30px;
    background-color: tomato;
    border: none;
    font-size: large;
}

.confirm_buttom:hover {
    font-size: 20px;
}


.logout_button {
    font-family: Neue Haas Grotesk;
    border-radius: 40px;
    background-color: tomato;
    color: black;
    font-size: 20px;
    width: 5%;
    height: 49%;
    right: 1%;
    position: absolute;
    padding: 0;
    border: none;
    top: 26%;

}

.logout_button:hover{
    font-size: 22px;
}

.username {
    color: tomato;
    position: absolute;
    font-size: 40px;
    top: -15%;
    font-family: Neue Haas Grotesks;
    right: 10%;
}
