.loginHeader_banner {
    width: 100%;
    height: 8%;
    top: 0px;
    left: 0%;
    position: absolute;
}


.website_logo {
    position: absolute;
    top: 24%;
    width: 3%;
    height: 50%;
    opacity: 80%;
}


.logo_text {
    color: tomato;
    position: absolute;
    top: -5%;
    font-family: Neue Haas Grotesks;
    left: 3.5%;
}


.login_button {
    font-family: Neue Haas Grotesk;
    border-radius: 40px;
    background-color: tomato;
    color: black;
    font-size: 20px;
    width: 5%;
    height: 49%;
    right: 8%;
    position: absolute;
    padding: 0;
    border: none;
    top: 26%;

}


.login_button:hover {
    font-size: 22px;
}


.signup_button {
    font-family: Neue Haas Grotesk;
    border-radius: 40px;
    background-color: rgb(147, 129, 129);
    color: black;
    font-size: 20px;
    width: 5%;
    height: 49%;
    right: 2%;
    position: absolute;
    padding: 0;
    border: none;
    top: 26%;
    opacity: 80%;
}


.signup_button:hover {
    font-size: 22px;
}


.SignInUserBackground {
    font-family: Neue Haas Grotesk;
    top: 30%;
    right: 30%;
    position: absolute;
    width: 40%;
    height: 35%;
    background-color: rgb(244, 241, 241);
    text-align: center;
    border-radius: 30px;
}

.input_for_sign_in {
    position: relative;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.confirm_buttom {
    border-radius: 30px;
    position: absolute;
    top: 80%;
    left: 43%;
    width: 100px;
    height: 30px;
    background-color: tomato;
    border: none;
    font-size: large;
}

.confirm_buttom:hover {
    font-size: 20px;
}


.logout_button {
    font-family: Neue Haas Grotesk;
    border-radius: 40px;
    background-color: tomato;
    color: black;
    font-size: 20px;
    width: 5%;
    height: 49%;
    right: 0.8%;
    position: absolute;
    padding: 0;
    border: none;
    top: 140%;

}

.logout_button:hover{
    font-size: 22px;
}

.username {
    color: tomato;
    position: relative;
    font-size: 40px;
    top: -15%;
    font-family: Neue Haas Grotesks;
    right: 10%;
}


.profile_image{
    width: 80px;
    height: 70px;
    border-radius: 70px;
    position: absolute;
    top: 20%;
    right: 1%;
}

.user_profile_image {
    width: 140px;
    height: 120px;
    border-radius: 150px;
    right: -5%;
    top: 18%;
    z-index: -1;
    position: relatives;
}

.UserImageBox {
    width: 40%;
    height: 1%;
    text-align: center;
    right: 30%;
    top: 18%;
    position: absolute;

}

.profile_image_edit_button {
    position: absolute;
    right: 40%;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.upload_image_button {
    display: block;
    visibility: hidden;
}

.ShowButtonUpload {
    position: absolute;
    top: 200%;
    left: 46%;
    top: 1580%;
    background-color: tomato;
    border-radius: 15px;
    border: none;
    font-size: 17px;

}

.ShowButtonUpload:hover {
    font-size: 18px;
}


.HideButtonUpload {
    visibility: hidden;
}

.userPostsBox {
    position: absolute;
    border-radius: 20px;
    top: 45%;
    width: 80%;
    height: 20%;
    right: 11%;
    background-color: rgb(130, 130, 129);
    text-align: center;
}

.new_post_background {
    border-radius: 20px;
    right: 30%;
    width: 40%;
    height: 70%;
    background-color: rgb(108, 108, 108);
    position: absolute;
    top: 10%;
}

.new_post_button {
    text-align: center;
    top: 53%;
    left: 11%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
    font-size: 35px;
    position: absolute;
}

.new_post_button:hover {
    height: 42px;
    width: 42px;
}

