

.user_profile_posts {
    position: absolute;
    border-radius: 8px;
    top: 38%;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(10, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    width: 91%;
    height: 45%;
    right: 5%;
    text-align: center;
    border: 5px solid rgb(252, 115, 115);
}

.user_saved_profile_posts {
    position: absolute;
    border-radius: 8px;
    top: 92%;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(10, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
    width: 91%;
    height: 45%;
    right: 5%;
    text-align: center;
    border: 5px solid rgb(252, 115, 115);
}



.user_followers{
    position: absolute;
    border-radius: 8px;
    top: 148%;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(10, 1fr);
    overflow-y: hidden;
    overflow-x: scroll;
    width: 85%;
    height: 15%;
    right: 7%;
    text-align: center;
    border: 5px solid rgb(252, 115, 115);
}

.user_following {
    position: absolute;
    border-radius: 8px;
    top: 175%;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(10, 1fr);
    overflow-y: hidden;
    overflow-x: scroll;
    width: 85%;
    height: 15%;
    right: 7%;
    text-align: center;
    border: 5px solid rgb(252, 115, 115);
}

.front_page_posts {
    position: absolute;
    border-radius: 20px;
    top: 12%;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(5, 1fr);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 99%;
    height: 80%;
    right: 0%;
    text-align: center;
}

.image_size {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid rgb(252, 115, 115);
}

.post_background {
    margin-left: 5%;
    margin-top: 20px;
    width: 400px;
    height: 400px;
}

.post_title {
    color: tomato;
    position: relative;
    top: -7.5%;
    font-weight: 900;
}

.post_username {
    position: relative;
    top: -23%;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
    color: tomato;
}
.post_username_for_follower {
    position: relative;
    top: -17%;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
    color: tomato;
}
.post_username_for_follower:link {
    text-decoration: none;
    background-color: transparent;
    color: tomato;
}

.post_username:link {
    text-decoration: none;
    background-color: transparent;
    color: tomato;
}

.post_description {
    position: relative;
    top: -26%;
    font-size: 20px;
    color: tomato;
}

.public_follow_button {
    position: absolute;
    top: 2050%;
    right: 42%;
    width: 15%;
    font-size: 18px;
    font-family: Neue Haas Grotesk;
    border-radius: 40px;
    border: 3px solid rgb(252, 115, 115);
    background-color: white;
    color: tomato;
    position: absolute;
    padding: 0;
}

.public_follow_button:hover {
    font-size: 19px;
}



.user_image_size {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    border: 3px solid rgb(252, 115, 115);
}

.user_post_background {
    margin-left: 5%;
    margin-top: 20px;
    width: 140px;
    height: 120px;
}


.save_button {
    top: -25%;
    left: 28%;
    position: relative;
    color: tomato;
    background-color: white;
    border-radius: 10px;
    width: 18%;
    height: 6%;
    border: 3px solid tomato;
    text-align: center;
    line-height: 5%;
    font-size: large;
}

.save_button:hover {
    font-size: 16px;
    font-size: 17px;
}

